* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
margin: 0;
padding: 20px;

/* Background image */

background-image: url("images/background.jpeg");
background-size: cover;

/* fills the screen */

background-position: center;

/* always centered */

background-repeat: no-repeat;
background-attachment: fixed;

/* stays FOREVER */

min-height: 100vh;

}

/*header*/
header {
display: flex;
align-items: center;
padding: 15px 25px;
background: white;
border-radius: 14px;
box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.logo {
height: 55px;
width: auto;
object-fit: contain;
}



/* Container */
.login-container {
    width: 100%;
    padding: 20px;
}

/* Card */
.login-card {
    background: white;
    max-width: 420px;
    margin: auto;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

/* Title */
.login-card h2 {
    margin-bottom: 5px;
    color: #333;
}

.login-card span {
    color: #4facfe;
}

.login-card p {
    color: #8b8a8a;
    margin-bottom: 25px;
}

/* Input group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #999;
    font-size: 13px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    background: white;
    padding: 0 5px;
}


/* Floating label effect */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 11px;
    color: #4facfe;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00c6ff;
}

/* login card */
@media (max-width: 480px) {
    .login-card {
        padding: 25px 20px;
        margin-top: 20px;
    }
}

/* logo */

@media (max-width: 600px) {
.logo {
height: 42px;
}
}

/* body padding*/

@media (max-width: 480px) {
    body {
        align-items: flex-start;   
        padding-top: 60px;         
    }
}
